* {
    font-family: monospace;
    font-size: 1.1em;
    padding: 10px 20px;
}
.hid {
    display: none;
}
#stl_cont{
    height: 500px;
    width: 500px;
}
.r{
    color:darkmagenta;
    font-weight: bold;
}
.g {
    color:green;
}
.ww {
 background-color: beige;
    border-bottom:1px darkolivegreen; } 
html{ 
    overflow:scroll;
    background-color: #666; 
}
/* body{ 
    position:fixed;
    top: 500px;
    overflow:scroll;
    background-color: slategrey; 
} */
.lil-gui {
    --width:100vw;
    --name-width: 12px;
    /* --font-size: 14px;
    --input-font-size: 14px; */
    --font-family: mono;
}
textarea{
    padding: 10px 20px;
    background-color: ivory;
    width: 100vw;
    /* font-size: 1.05; */
    height: 40vh;
    overflow-wrap: anywhere;
}
.inl{
    display: inline;
}
.fix{
    position: fixed;
    left: 0;
    top: 30px;
    overflow: scroll;
    z-index: 3;
}

.fixbot{
    position: fixed;
    left: 0;
    bottom:0px;
    z-index: 3;
}

.fixsav{
    position: fixed;
    left: 0;
    bottom: 45vh;
    z-index: 4;
}

progress {display:inline; width:10%;}
#canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: 1;

} 
.number{
    font-size: 23px;
    color: #222;
}
.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}

    .element .number {
        /* position: absolute;
        top: 20px;
        right: 20px; */
        font-size: 12px;
        color: rgba(127,255,255,0.75);
    }

    .element .symbol {
        /* position: absolute;
        top: 40px;
        left: 0px; */
        right: 0px;
        font-size: 60px;
        font-weight: bold;
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 10px rgba(0,255,255,0.95);
    }

    .element .details {
        /* position: absolute;
        bottom: 15px;
        left: 0px;
        right: 0px; */
        font-size: 12px;
        color: rgba(127,255,255,0.75);
    }

* {
    margin: 0px;
    padding: 0px;
  }

  /* a:any-link {
    background-color: olive;
    color:  #222;
  } 

  button {
    background-color: olive;
    color:  #222;
  }  */
  .dropbtn {
    background-color: olive;
    color: white;
    border: none;
    margin: 4px;
    top: 0px ;
    padding: 4px;
    float: left;
    z-index: 11;
  }
  .btn {
    background-color: olive;
    color: white;
    border: none;
    margin: 4px;
    top: 0px ;
    padding: 4px;
    display: block;
    z-index: 11;
  }
  footer {
    margin-top: 600px;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      top: 0px;
    display: inline-block;
    z-index: 1;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    height: 77vh;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 136;
  }
  #ddc {
    height: 888px;
    z-index: 22;
    overflow: scroll;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
   /* Handle 125% and 150% Windows 10 Font Scaling on 96dpi monitors */
   
   @media screen and (min-resolution: 180dpi) {
    * {
         color: #222;
         font-size: 40px;
        
}
   }
